body {
    background-color: #e3e3e3;
}

.floating-box {
    border-radius: 5px;
    box-shadow: 0 2px 3px #CCC;
}
    

.login-form {
    background-color: #fff;
    max-width: 400px;
    margin: 30px auto auto;
    padding: 14px 30px 10px;
}

.firstname_field, .lastname_field {
    width: auto;
    margin: auto;
}

.sidebar-pane {
    min-height: 100%;
    background-color: #fff;
}

.main-pane {
    min-height: 100%;
    background-color: #fff;
}

.main-view {
    min-height: 100%;
}
