body {
    background-color: #e3e3e3;
}

.floating-box {
    border-radius: 5px;
    box-shadow: 0 2px 3px #CCC;
}
    

.login-form {
    background-color: #fff;
    max-width: 400px;
    margin: auto;
    padding: 14px 30px 10px;
}